/**
 * @author: 周靖松
 * @information: 样式变量
 * @Date: 2019-05-05 09:28:19
 */
// 颜色
$primary-color:#1fb19e;//主色
$danger-color:#eb4c44;//危险色
$warning-color:#ff8b37;//警告色
$disabled-color:#e2e2e2;//置灰色
$white-color:#fff;//白色
$message-color:#757575;//提示框颜色
$bg-color:#f7f7f7;//背景颜色




